.Button {
    transition: .18s;
    opacity: .6;
    cursor: pointer;
    padding: 5px;
    width: 80px;
    height:80px;
    outline: none;
    -webkit-user-drag: none;
    filter: drop-shadow(2px 4px 0 black);
  }
.pressed{
    opacity: .9 !important;
}
.Button:hover {
    opacity: .85 !important;
}
:global(.Outline) {
    fill: #0FF;
}