.Button {
  transition: 0.18s;
  opacity: 0.85;
  cursor: pointer;
  padding: 5px;
  width: 80%;
  height: 80%;
  outline: none;
  -webkit-user-drag: none;
  filter: drop-shadow(2px 5px 0 #42612a);
}
.pressed {
  opacity: 0.85 !important;
  filter: contrast(0) sepia(1) hue-rotate(60deg) brightness(0.24);
}
.itemWrap {
  width: 80%;
  margin:10px auto;
}
.Button:hover {
  opacity: 0.85 !important;
  width: 80%;
  height: 80%;
}
.price {
  position: absolute;
  bottom: 0;
  right: 15%;
  color: #f2d76a;
  font-size: 1.4rem;
  opacity: 1 !important;
  z-index: 4;
  text-shadow: -2px -2px 0 #2f461e, 2px -2px 0 #42612a, -2px 2px 0 #42612a,
    2px 2px 0 #42612a;
}
:global(.Outline) {
  fill: #0ff;
}
